
<div class="container mt-2">

    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">nom</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">prenom</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prénom">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Date de naissance</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">civilité</label>
        
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Célibataire</option>
          <option>Marié(e)</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">num CIN</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CIN">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">RIB</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="RIB">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sujet</label>
        
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Compte</option>
          <option>Carte</option>
          <option>Accueil dans l'agence</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Texte</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      
    </form>
    </div>
    
