<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body justify-content center">
                    <h5 class="card-title text-center">Connexion</h5>
                    <div *ngIf="msg" class="text-danger text-center">{{msg}}</div>
                    <form class="form-signin" 
                    [formGroup]="authForm"
                    (ngSubmit)="onSubmitSignIn()">
                        <input
                        type="email"
                        id="inputEmail"
                        class="form-control" 
                        placeholder="adresse mail"
                        formControlName="email"
                        autofocus>
                        <br>
                        <input 
                        class="form-control"
                         id="inputPassword"
                         type="password"
                        placeholder="mot de passe"
                        formControlName="password"
                        >
                        <br>
                        <button class="btn btn-lg btn-success btn-block text-uppercase justify-content center"
                        type="submit"
                        [disabled]="authForm.invalid">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
  