
<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container fixed-top " [ngStyle]="navbg">
        <a class="navbar-brand" (click)="scrollTo('home')" >
          <span>
            Cryptop
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item ml-lg-4 active ">
                <a *ngIf="showNav()" class="nav-link" (click)="scrollTo('home')">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item ">
                <a *ngIf="showNav()" class="nav-link" (click)="scrollTo('about-section')" > About </a>
              </li>
              <li class="nav-item">
                <a  *ngIf="showNav()"class="nav-link" (click)="scrollTo('how-section')"> How </a>
              </li>
              <li class="nav-item ">
                <a *ngIf="showNav()" class="nav-link" (click)="navigateReclamations()"> reclamations </a>
              </li>
              <li class="nav-item">
                <a *ngIf="!showNav()" class="nav-link" routerLink="/auth"> Login</a>
              </li>
              <li class="nav-item">
                <a *ngIf="!showNav()" class="nav-link" routerLink="/auth"> Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="showNav()"(click)="logOut()"> log out</a> <i class="bi bi-box-arrow-left bg-white"></i>
              </li>
            </ul>
            <div class="user_option">
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
