<div class="hero_area">
<app-navbar id="home"  ></app-navbar>
<!-- home.component.html -->

<section class="slider_section position-relative ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item "  
        data-bs-interval="5000"
        *ngFor="let item of carouselData; let i = index" 
         [ngClass]="{active:i===0}">
          <div class="container">
            <div class="box">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>{{ item.title }}</h1>
                      <h2>{{ item.subtitle }}</h2>
                      <div>
                        <a [href]="item.link">
                          Get Started
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img [src]="item.imagePath" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
  </section>
  
</div>

<app-how id="how-section"></app-how>
<app-about  id="about-section"></app-about>
  <section class="app_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              Our Powerful app to connect it all
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="download_box">
              <h5>
                Download Now
              </h5>
              <div class="btn-box">
                <a href="">
                  <img src="../../../assets/app-store.png" alt="">
                </a>
                <a href="">
                  <img src="../../../assets/play-store.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../../assets/slider-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="auto_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Start Automatic Now
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/auto-img.png" alt="">
        </div>
        <div class="detail-box">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim
          </p>
          <div class="btn-box">
            <a href="">
              Register Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
      </div>
      <div class="box">
        <div class="b-1">
          <div class="client_id">
            <div class="img-box">
              <img src="../../../assets/client-1.jpg" alt="">
            </div>
            <div class="name">
              <h5>
                Readable
              </h5>
              <h6>
                Content of a page
              </h6>
            </div>
          </div>
        </div>
        <div class="client_detail">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
        </div>
      </div>
      <div class="box">
        <div class="client_id">
          <div class="img-box">
            <img src="../../../assets/client-2.jpg" alt="">
          </div>
          <div class="name">
            <h5>
              Readable
            </h5>
            <h6>
              Content of a page
            </h6>
          </div>
        </div>
        <div class="client_detail">
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
